.block-page-top-card {
  height: 220px;
  overflow-y: scroll;
}

.block-page-bottom-card {
    height: 480px;
  overflow-y: scroll;
}

.block-page-txn-list-container {
    height: 460px;
}

.tx-container {
  height: 900px;
}

.trasaction-container-card {
  position: relative;
  height: 440px;
  overflow-y: scroll;
}

.tx-logs-container {
  margin-top: 12px;
}

.logs-head {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}

.account-transaction-block {
  height: auto;
  min-height: 180px;
}

.account-transactions-subhead {
  font-size: 16px;
  font-weight: 600;
}

.empty-block-label {
  margin-top: 12px;
}